.removeListItem {
  color: var(--danger-button-color);
  background-color: var(--danger-button-background-color);
  margin: 0.5rem;
}

.editListItem {
  color: var(--view-button-color);
  background-color: var(--view-button-background-color);
  margin: 0.5rem;
}

.updateListItem {
  color: var(--affirmative-button-color);
  background-color: var(--affirmative-button-background-color);
  margin: 0.5rem;
}
